@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@layer base {
	html {
		font-family: 'Lato', sans-serif;
	}
}

@layer components {
	.nav-link {
		position: relative;
	}
	.nav-link::after {
		content: '';
		position: absolute;
		bottom: -20px;
		right: 0;
		height: 1px;
		width: 0%;
		background: #000;
		transition: 0.4s ease-in-out;
	}
	.nav-link:hover::after {
		left: 0;
		width: 100%;
	}

	.is-sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		background-color: #ffffff !important;
		box-shadow: 0 2px 24px 0 rgb(0 0 0 / 5%);
		animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	}
	@keyframes fadeInDown {
		0% {
			opacity: 0;
			transform: translateY(-40px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.custom-button {
		@apply absolute top-1/2 transform -translate-y-1/2 w-10 h-10 rounded-full bg-gray-100 text-black hover:shadow-sm hover:bg-white grid place-items-center cursor-pointer select-none z-10 transition-colors;
	}
	.quantity-button {
		@apply py-1.5 px-4 rounded-md flex items-center justify-center border border-gray-300 text-sm text-black cursor-pointer select-none hover:border-black transition-colors;
	}
}
