@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.re {
		background-color: #fff !important;
		animation: 300ms ease-in-out 0s normal none 1 running fadeInUp;
	}
	@keyframes fadeInUp {
		from {
			transform: translate3d(0, 40px, 0);
			opacity: 0;
		}

		to {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
	.is-sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		background-color: #fff !important;
		border-bottom: 1px solid #eee;
		animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	}
	@keyframes fadeInDown {
		0% {
			opacity: 0;
			transform: translateY(-40px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.dropdown-menu {
		@apply absolute top-12 left-[70px] md:left-[50px] transform -translate-x-full w-48 h-auto bg-white border border-gray-200 rounded-[3px] shadow-md z-20;
	}
	.dropdown-menu-link {
		@apply px-4 py-2.5 flex items-center text-black/80 hover:text-black hover:bg-gray-50 transition-colors;
	}
	.slide-button {
		@apply absolute top-1/2 transform -translate-y-1/2 w-10 h-10 rounded-full bg-gray-100 text-black hover:shadow-sm hover:bg-white grid place-items-center cursor-pointer select-none z-10 transition-colors;
	}

	.quantity-button {
		@apply py-1 px-2.5 rounded-md flex items-center justify-center border border-gray-300 text-sm text-black/70 hover:text-black cursor-pointer select-none hover:border-black transition-colors;
	}
	.add-cart-button,
	.wish-button {
		@apply w-full h-16 text-base flex items-center justify-center font-medium border rounded-full;
	}
}
